<nav class="navbar navbar-inverse bg-inverse ">
    <!-- <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top "> -->
  <div class="container-fluid">
    <div class="navbar-header">
      <br>
        <a routerLink=''>Simple CRUD</a> <a> | </a>
        <a routerLink='app-simple-ag-gird'>Ag-gird</a><a> | </a>
        <a routerLink='app-simple-reactive-form'>Reactive-form</a> <a> | </a>
        <a routerLink='app-simple-tests'>Test</a> <a> | </a>
        <a routerLink='app-simple-primeng'>PrimeNG</a><a> | </a>
    </div>
    <form class="navbar-form navbar-right" role="search">
      <img src="/assets/img/lth.jpg" style="height: 20px;width: 30px;cursor:pointer" (click)="switchLanguage('th')">
      <img src="/assets/img/len.png" style="height: 20px;width: 30px;cursor:pointer" (click)="switchLanguage('en')">
    </form>

  </div>
</nav>
<!-- 
navbar works!
<div>{{ 'test' | translate}}</div> -->